# Ignore temporary, log, and backup files
*.log
*.tmp
*.bak

# Ignore OS-specific files
Thumbs.db
.DS_Store

# Ignore IDE/project files
.vscode/
.idea/
*.suo
*.user
*.ncb
*.psess
*.pdb

# Ignore hidden powershell window vbs file trick
launch_hidden.vbs

# Ignore environment file
config.psd1